@import url(../node_modules/sans-serif/css/sans-serif.css);
@import url(../node_modules/@fortawesome/fontawesome-free/css/all.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Josefin Sans", sans-serif;
  color: #1a1212;
  font-weight: 300;
  line-height: 1.6;
  font-size: 2rem; }

.container {
  display: grid;
  grid-template-rows: 80vh;
  overflow: hidden; }

.main-nav {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr; }
  .main-nav img {
    height: 80px; }

html div p {
  font-family: "Nunito", sans-serif; }
